:root{
    --cor1:#0715BD;
    --cor2:#101870;
    --cor3:#0715BD;
    --fonte1:'Rubik', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url('/imagens/fotos/fundo3.jpg');
}

img{
    max-width: 100%;
    background-repeat: no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right,black,rgba(12, 12, 12, 0.815),rgba(7, 7, 7, 0));
    border-bottom: 2px solid rgba(131, 131, 131, 0.281);
}
header::before{
    content: ' ';
    width: 0;
    height: 0; 
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 50px solid #0a1ac4;;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: center;  
    margin-right: 30px;
    
}

.menu li{
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px;
    align-items: center;
    display: flex;

}
.menu a{
    text-decoration: none;
    color: rgb(65, 88, 190);
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    background-color: rgba(255, 0, 0, 0);
    padding: 7px;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: 0.7s;
    text-transform: uppercase;
    font-size: 1rem;
}
.menu a:hover{
    border-bottom: 2px solid white;
    color: white;


}


header h1{
    margin-left: 30px;
    font-size: 2rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: white;
    
}
header h1 span{
    margin-left: 19px;
    position: relative;
    z-index: 1;
}
header h1 span::after{
    content: " ";
    position: absolute;
    margin-left: 88px;
    display: block;
    width: 50px;
    margin-top: -15px;
    z-index: -2;
    height: 2px;
    background-color: rgb(65, 88, 190);
}
.principal{
    margin-top: 100px;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.452);
    backdrop-filter: blur(1px);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
    border-top: 3px solid #101870;
    border-right: 3px solid #101870;
    color: white;
    font-family: 'Rubik', sans-serif;
    position: relative;
    
}
.principal .apresentacao{
    margin-right: 15px;
}

.corazul{
    color: var(--cor1);
}

.principal .apresentacao span{
    color: var(--cor1);
}

.principal .apresentacao h2{
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
}
.principal img{
    width: 900px;
    max-width: 200px;
    margin-left: -50px;
    margin-top: -100px;
    position: absolute;
    animation: animacao 1.3s ;
    animation-iteration-count: infinite;
    animation-direction:alternate-reverse;
    
   
}

@keyframes animacao{
    from{
        padding-top: 0px;
    }
    to{
        padding-top: 20px;
    }
}


.redes{
    background-color: rgba(255, 255, 255, 0.089);
    width: 220px;
    padding: 1px;
    margin: 0 auto;
    border-top: 2px solid white;
    border-right: 1px solid white;
    border-left: 1px solid rgba(255, 255, 255, 0.041);
    border-bottom: 2px solid rgba(255, 255, 255, 0.123);
    border-radius: 0px 0px 4px 4px;
    margin-top: 0px;
    margin-bottom: 120px;
}

.redes ul{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.redes li{
    list-style-type: none;
    margin-right: 20px;

}
.redes img{
    padding: 3px;
    transition: .4s;
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 50%;
}
.redes img:hover{
    background-color: rgba(255, 255, 255, 0.877);
    box-shadow: 2px 2px 2px black;
    border-radius: 4px;
}

footer{
 background-color: rgba(0, 0, 0, 0.582);
 color: white;
 padding: 15px;
 text-align: center;
 border-top: 3px solid #101870;
 font-family: Arial, Helvetica, sans-serif;
 border-radius: 4px;
}





.container{
    width: max-content;
    color: white;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid #0715BD;
    padding-top: 60px;
    animation: mudarcor 2s ;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes mudarcor{
    from{
        border-top:3px solid #0514c0;
    }
    to{
        border-top: 3px solid rgba(255, 255, 255, 0.596);
    }
}

.contato{
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.185);
    width: 100%;
    
}

.item{
    border-top: 2px solid white;
    border-right: 1px solid white;
    border-left: 1px solid rgba(255, 255, 255, 0.041);
    border-bottom: 2px solid rgba(255, 255, 255, 0.123);
    padding-bottom: 60px;
    padding-top: 20px;
    background-color:  rgba(255, 255, 255, 0.089);
    font-family: var(--fonte1);
    padding-left: 10px;
    padding-right: 10px;
    
    }

    .item img{
        background-color: rgba(255, 255, 255, 0.507);
        display: inline-block;
        width: 24px;
        border-radius: 50%;
        padding: 3px;
    }

    .formacao{
        background-color: rgba(0, 0, 0, 0.514);
        color: white;
        margin-top: 80px;
        padding: 20px;
    }

    .form{
        border-radius: 4px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
        border-top: 3px solid #101870;
        border-right: 3px solid #101870;
        border-bottom: 1px solid rgba(255, 255, 255, 0.315);
        margin-top: 70px;
        padding: 10px;
        font-family: var(--fonte1);
        width: 82%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    .form img{
        background-color:rgba(255, 255, 255, 0.89);
        padding: 3px;
        border-radius: 50%;
        
    }

    .item1{
        margin-left: 70px;

    }
    .item2{
        margin-left: 170px;
        
    }
    .item3{
        margin-left: 30px;
        
    }

    .sobre{
        background-color: rgba(7, 6, 6, 0.212);
        display: flex;
        align-items: center;
        color: white;
        padding: 20px;
        font-family: var(--fonte1);
        width: 75%;
        margin: 0 auto;
        border-top: 2px solid white;
        border-right: 2px solid white;
        border-left: 1px solid rgba(255, 255, 255, 0.041);
        border-bottom: 2px solid rgba(255, 255, 255, 0.034);
        margin-bottom: 70px;
        animation: shock 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    @keyframes shock{
        from{
            border-top: 2px solid white;
            border-right: 2px solid white;
            border-left: 1px solid rgba(255, 255, 255, 0.041);
            border-bottom: 2px solid rgba(255, 255, 255, 0.034);

        }
        to{
            border-top: 2px solid rgb(1, 17, 161);
            border-right: 2px solid rgb(2, 11, 134);
            border-left: 1px solid rgba(255, 255, 255, 0.041);
            border-bottom: 2px solid rgba(255, 255, 255, 0.034);


        }
    }

    .sobre img{
        border-radius: 50%;
        max-width: 200px;
    }

    #projetos{
        background-color: rgba(255, 255, 255, 0.336);
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #101870;
        border-top: 2px solid #101870;
        transition: .5s;
    }
    #projetos:hover{
        background-color: white;
    }

    .js .js-accordion p{
        display: none;
    }

    .js-accordion h2{
        transition: 0.6s;
    }

    .js-accordion h2::before{
        content: " \25BC";
        margin-right: 5px;
    }
    .js-accordion h2.ativo::before{
        content: '\25B2';
        color: white;
    }

    .js-accordion h2:hover{
        color: white;
    }

    .js-accordion p.ativo{
        display: block;
        animation: slideDown .7s forwards;
      
    }


    @keyframes slideDown{
        from{
            opacity: 0;
            max-height: 0;

        }
        to{
            opacity: 1;
            max-height: 500px;

        }
    }

    .js .js-scroll{
        opacity: 0;
        transform: translate3d(-30px,0,0);
    }

    .js .js-scroll.ativo{
        opacity: 1;
        transform: translate3d(0px,0,0);
        transition: .4s;
    }

    .meusprojetos{
        color: white;
        text-align: center;
        font-family: var(--fonte1);
        text-transform: uppercase;
    }
    .meusprojetos::after{
        content: '\25BC';
    }
    .meusprojetos::before{
        content: '\25BC';
    }